*{

    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: whitesmoke;

}

h1{
    text-align: center;
}

hr{

    width: 70%;

}

body{
    
    background: url(saté.jpg) no-repeat fixed center/cover;

}


/* DEBUT DES FORMULES */


.Sepa{

    display: flex;
    justify-content: space-between;
    margin: auto;
    
}

/* LA FORMULE DE BASES */



.Arrangement1{
    margin-left: 55px;
    font-size: 3.5vmax;
    font-size: 2.5vmin;
}

.Basique{

    margin: auto;
    border-radius: 20px;
    border: solid;
    
    height: 50%;
    min-height: 80%;
    width: 30%;
    min-width: 400px;

    padding: 15px;


    background-image: radial-gradient( circle 610px at 5.2% 51.6%,  rgba(5,8,114,1) 0%, rgba(7,3,53,1) 97.5% );

}

/* OFFRE SATELLITE */

.Arrangement2{
    margin-left: 55px;
    font-size: 2.5vmax;
    font-size: 2.5vmin;
}

.Offre{

    margin: auto;
    border-radius: 20px;
    border: solid;
    
    height: 50%;
    min-height: 80%;
    width: 30%;
    min-width: 400px;

    padding: 15px;


    background-image: radial-gradient( circle 610px at 5.2% 51.6%,  rgba(5,8,114,1) 0%, rgba(7,3,53,1) 97.5% );
}

/* OFFRES SPECIALES */


.Basique2{

    margin: auto;
    border-radius: 20px;
    border: solid;
    
    height: 50%;
    min-height: 80%;
    width: 30%;
    min-width: 400px;

    padding: 15px;


    background-image: radial-gradient( circle 510px at 5.2% 56.6%,  rgb(192, 100, 35) 0%, rgb(179, 26, 26) 97.5% );

}


.Arrangement3{
    margin-left: 55px;
    font-size: 2.5vmax;
    font-size: 2.5vmin;
    
}

/* MEDIA QUERIES */

@media all and (max-width: 950px) {

    .Sepa{

        flex-direction: column;

    }

    .Basique{

        margin: auto;

    }

    .Offre{

        margin: auto;

    }
    
}

@media all and (max-width:640px) {

    .Basique{

        min-width: 280px;

    }
    .Offre{

        min-width: 280px;

    }

    body{

        margin: 25px;

    }

    .Basique2{

        min-width: 280px;

    }
    
}

